.calendar-table {
    width: 900px;
}

.calendar-header {
    width: 100%;
}

.calendar-day {
    width: 14.2857142857%;
    height: 70px;
    vertical-align: top;
}

.has-day {
    border: 1px solid black;
}

.has-day:hover {
    background-color: lightblue;
    cursor: pointer;
}

.gray {
    background-color: lightgray;
}

.appt-container {
    text-align: center;
    font-size: 11px;
    color: gray;
    margin: 10px 0 0 0;
}